.markets-nav-bar {
    justify-content: space-between;
    align-items: center;
    width: 600px;
    font-size: 1.2rem;
}

.markets-nav-bar .markets-nav {
    color: black;
    padding: 3px;
    border: 1px solid lightskyblue;
    border-radius: 30px;
    width: 110px;
}

.markets-nav-bar .markets-nav.active {
    color: black;
    background-color: lightskyblue;
}

.stock-item{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid 1px black;
    background-color: white;
}

.stock{
    text-transform: uppercase;
    font-weight: bold;
}

.stock::before {
    content: '$';
}

@media (max-width: 600px) {
    .markets-nav-bar {
        justify-content: space-between;
        align-items: flex-start;
        width: inherit;
        height: 170px;
        font-size: 1.2rem;
    }
}